<%= link_to 'New Product', new_administration_product_path %>
<hr/>

<h1>Listing products</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subcode</th>
      <th>Url segment</th>
      <th>Published status<br/><%= select(:product, :published_status, options_for_select(ActsAsPublishable::DROPDOWN_OPTIONS, 3) )%></th>
      <th>Categories</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id='product-index'>
    <%= render :partial => 'index', :locals => { :products => @products } %>
    <%#= render 'product' %>
  </tbody>
</table>

<hr />

<%= link_to 'New Product', new_administration_product_path %>
